<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <title><%= title %></title>
</head>

<body>
  <img src="img/CentennialCMYK.jpg" width="400px" alt="Logo" />
  <h1><%= title %></h1>

  <form method="post" id="commentform">
    <div class="form-fields">
      <div class="form-field">
        <label class="form-field-label">Course Code:</label>
        <input type="text" placeholder="Enter your course code" name="c_code" />
      </div>
      <div class="form-field">
        <label class="form-field-label">Course Section:</label>
        <input type="text" placeholder="Enter your course section" name="c_section" />
      </div>
      <div class="form-field">
        <label class="form-field-label">Course Name:</label>
        <input type="text" placeholder="Enter your course name" name="c_name" />
      </div>
      <div class="form-field">
        <label class="form-field-label">Student Email:</label>
        <input type="text" value="<%= username %>" name="username" />
      </div>
      <div class="form-field">
        <label class="form-field-label">Student Number:</label>
        <input type="text" placeholder="Enter your student number" name="s_number" />
      </div>
      <div class="form-field">
        <label class="form-field-label">Your Comments:</label>
        <textarea rows="5" name="comment" form="commentform"></textarea>
        <br />
        <input type="submit" value="Submit" name="submit" />
      </div>
    </div>
  </form>
</body>

</html>