<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- <img src="img/nodejs_logo.png" alt="Logo"> -->
  <img src="img/CentennialCMYK.jpg" width="400px" alt="Logo" />

  <h1>Please login first.</h1>
  <a class="btn" href="/">Login</a>
</body>

</html>