<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- <img src="img/nodejs_logo.png" alt="Logo"> -->
    <img src="img/CentennialCMYK.jpg" width="400px" alt="Logo" />
    <h1>Thank You <%= username %></h1>
    <p>
      we appreciate your comments: This course prepares me to become a
      full-stack developer
    </p>
    <a class="btn" href="/logout">Logout</a>
  </body>
</html>
